<!DOCTYPE html>
<html lang="en">
<head>
  <title>Registration</title>
  {% load static %}
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<link rel="stylesheet" type="text/css" href="{% static 'main/css/account.css' %}">
<body>
	<div id="main-container" style="font-family: 'Roboto', sans-serif;">
		Register
		<form action='register' method='POST' id="registraion-form">
			{% csrf_token %}
			<div class="row">
		        <div class="input-field col s4 offset-s4">
		          	<input placeholder="Email" id="email" name="email" type="email" class="validate">
		        </div>
		        <div class="input-field col s4 offset-s4">
		        	<input placeholder="Name" id="first_name" type="text" class="validate">
		        </div>
		        <div class="input-field col s4 offset-s4">
		          	<input placeholder="Password" id="password" type="password" class="validate">
		        </div>
		    </div>
			<button class="waves-effect hoverable waves-light blue-grey btn" id="registerButton">Register</button>
		</form>
	</div>
</body>
</html>