<!DOCTYPE html>
<html>
<head>
    <title>Chat</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/style.css' %} ">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <div id="mainContainer">
        <button id="chat-message-submit">Send</button>
        <input type="" name="messages" id="chat-message-input">
        <div id="roomsContainer">
            <form action='get_username' method='GET'>
                <p id="user-name"></p>
            </form>
        </div>
    </div>
    <div id="chat-box"></div>  
</body>
<script src="{% static 'main/javascript/reconnecting-websocket.js' %}"></script>
<script>
    var roomName = {{ room_name_json }};
    var username = {{ username }};

    var chatSocket = new ReconnectingWebSocket(
        'ws://' + window.location.host +
        '/ws/main/' + roomName + '/');
</script>
<script src="{% static 'main/javascript/index.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</html>