body{
	background: black;
	padding: 5px;
}
#accountButton{
	position: absolute;
	top: 8px;
	left: 8px;
	border-radius: 3px;
	height: 5%;	
	width: 80%;
	border: none;
	background: #c7dbdc;
}
#accountButton:hover{
	transition: 1s;
	background: #a0afaf;
}
#mainContainer{
	background: url("https://wallpaperaccess.com/full/99797.png");
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}
#roomsContainer{
	background: #242633;
	height: 100%;
	width: 10%;
	position: absolute;
}
#messageArea {
	background: transparent;
	bottom: 10px;
	width: 80%;
	height: 40px;
	max-width: 80%;
	min-width: 100px;
	color: #242633;
	border: none;
	outline: none;
	border-bottom: 2px solid #242633 !important;
	position: absolute;
	box-sizing: border-box;
	margin-right: 10%;
	margin-left: 12%;
}
.message {
	background: #242633;
	right: 30px;
	padding: 10px;
	color: #c7dbdc;
	position: absolute;
	text-align: center;
}
#sendButton{
	background: #242633;
	width: 9%;
	height: 40px;
	color: #c7dbdc;
	border: none;
	position: absolute;
	right:    10px;
	bottom:   10px;
	border-radius: 5px; 
}
#sendButton:hover{
	transition: 1s;
	background: #0e0f14;
}