body,html{
	height: 100%;	
	width: 100%;
	border: none;
	background: url("https://i.pinimg.com/originals/43/3a/81/433a815b8313453ee2edae5f7c91de73.jpg");
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	overflow-y:hidden;
  	overflow-x:hidden;
}
#main-container{
	width: 100%;
	height: 100%;	
}
#rooms-container{
	background: #242633;
	height: 100%;
	width: 15%;
	min-width: 10%;
	position: absolute;
}

#chat-box {
	height: 86%;
    width: 85%;
    right: 0px;
    top: 7%;
    overflow-y: auto;
    position: absolute;
}

#rooms-search {
	background-color: rgba(124, 131, 173,0.4);
	color: #fefefe;
	border: none;
    width: 80%;
    height: 5%;
    top: 0.9%;
    left: 5%;
    right: 3%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    position: relative;
}

#rooms-search:focus {
	box-shadow: none;
  	border-bottom: none;
}

#rooms-search::placeholder {
	color: rgb(124, 131, 173);
}

#create-room {
	background: transparent;
	height: 45px;
	text-align: center;
	border-radius: 100%;
	top: calc(100% - 70px);
	left: 10px;
	transform: translate(-30%, -50%);
	box-shadow: none!important;
}

#create-room-footer {
	width: 100%;
	height: 25%;
	bottom: 0px;
 	position: absolute;
}

#add-room-members {
	left: 41%;
	position: absolute;
	top: 3%;
}

#create-room-submit {
	left: 44%;
	position: absolute;
	top: 50%;
}

.field-error {
	display: none;
	color: red;
	bottom: 35%;
	text-align:center;
	left: 35%;
	position: absolute;
}

#added-chat-members {
	width: 100%;
}

#members {
	color: #242633;
	text-align: center;
}

#create-room-dialog {
	display: none;
	top: 10%;
	width: 50%;
	height: 50%;
	border-radius: 5px;
	min-height: 400px;
	animation-name: animatetop;
	animation-duration: 0.2s;
}

#room-options-dialog {
	display: none;
	text-align: center;
	top: 10%;
	height: 250px;
	width: 400px;
	border-radius: 5px;
	animation-name: animatetop;
	animation-duration: 0.2s;
}

#delete-chat-button {
	background-color: #EB6752;
	border-radius: 100px;
	top: 50px; 
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #242633;
}

#chat-bar {
	display: none;
	background-color: #EB6752;
	height: 7%;
	width: 85%;
	right: 0px;
	position: absolute;
}

#chat-title {
	color: #fefefe;
	margin: 0;
	top: 25%;
	left: 3%;
	font-weight: bold;
	position: absolute;
	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

#chat-members-count {
	color: #fefefe;
	margin: 0;
	top: 65%;
	left: 3%;
	position: absolute;
	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);	
}

#options-chat-title {
	font-style: bold;
	color: #242633;
}

#room-options {
	background: transparent; 
	top: 10%;
	right: 10px;
	box-shadow: none;
	border-radius: 100%;
	position: absolute;
}
#room-options:hover {
	color: #d6d6d6;
}

#room-options-button {
	background: transparent;
	border: none;
	outline: none;
	right: 15px;
	top: 50%;
	position: absolute;
}

#message-input-container {
	display: none;
	background-color: #EB6752;
	bottom: 0px;
	width: 82%;
	height: 7%;
	min-width: 100px;
	color: #242633;
	border: none;
	outline: none;
	position: absolute;
	box-sizing: border-box;
	margin-right: 0px;
	margin-left: 15%;
}

#chat-message-input {
	background: transparent;
	width: 100%;
	top: 10%;
	height: 80%;
	min-width: 100px;
	color: #fefefe;
	border: none;
	outline: none;
	position: absolute;
	box-sizing: border-box;
	margin-left: 2%;
}
#chat-message-input:focus {
	box-shadow: none;
  	border-bottom: none;
}
#chat-message-submit {
	display: none;
	background: #2E3E69;
	width: 8%;
	height: 7%;
	color: #fefefe;
	border: none;
	position: absolute;
	margin-left: 0%;
	right: 0%;
	bottom: 0%;
}

#chat-message-submit:hover {
	transition: 1s;
	background: #253256;
}

.room-name-field {
	outline: none;
	border: 1px solid #242633;
}

.user-email-field {
	outline: none;
	border: 1px solid #242633;	
}

#user-email-field:focus {
	border-bottom: 1px solid #242633 !important;
    box-shadow: 0 1px 0 0 #242633 !important;
}
#user-email-field::placeholder {
	color: grey;
}

.input-field input:focus + label {
	color: #242633 !important;
}

.row .input-field input:focus {
	color: #242633 !important;
	border-bottom: 1px solid #242633 !important;
	box-shadow: 0 1px 0 0 #242633 !important
}

#messageArea {
	background: transparent;
	bottom: 10px;
	width: 80%;
	height: 40px;
	max-width: 80%;
	min-width: 100px;
	color: #fefefe;
	border: none;
	outline: none;
	border-bottom: 2px solid #242633 !important;
	position: absolute;
	box-sizing: border-box;
	margin-right: 10%;
	margin-left: 12%;
}
.room {
	background: transparent;
    height: 7%;
    width: 100%;
    color: rgb(124, 131, 173);
    border: none;
    border-bottom: 0.5px solid rgba(124, 131, 173,0.4);
    outline: none;
    top: -35px;
    position: relative;
    text-align: center;
}
.room:focus {
	border-left: 2px solid #EB6752;
	background: transparent;
}

.message {
	background: #242633;
	padding: 10px;
	color: #c7dbdc;
	border-radius: 5px;
	position: absolute;
	text-align: center;
}
.left-message-body {
    background-color: #B9E0DC;
    height: 35px;
    width: 30px;
    left: 10px;
    margin-bottom: 10px;
    position: absolute;
    border-radius: 5px;
}
.left-message-content {
    background-color: #fefefe;
    border-radius: 5px;
    height: 35px;
    line-height: 30px;
    padding: 3px;
    padding-left: 10px; 
    padding-right: 10px; 
    min-width: 30px;
    text-align: center;
    color: #242633;
    display: inline-block;
    top: -15px;
    left: 10px;
    position: absolute;
}
.right-message-body {
	background-color: #FFB709;
    height: 35px;
    width: 30px;
    right: 10px;
    margin-bottom: 10px;
    position: absolute;
    border-radius: 5px;
}
.right-message-content {
	background-color: #fefefe;
    border-radius: 5px;
    height: 35px;
    line-height: 30px;
    padding: 3px;
    padding-left: 10px; 
    padding-right: 10px;
    min-width: 30px;
    text-align: center;
    color: #242633;
    display: inline-block;
    top: -15px;
    right: 10px;
    position: absolute;
}

#room-options-title {
	color: white;
	top: 0px;
	left: 40%;
	font-weight: bold;
	position: absolute;
}

#create-room-title {
	color: white;
	top: 0px;
	left: 45%;
	font-weight: bold;
	position: absolute;
}
#close {
	background: none;
  	color: white;
  	font-size: 28px;
  	box-shadow: none;
  	font-weight: bold;
}
#close:hover,
#close:focus {
  	text-decoration: none;
  	cursor: pointer;
}
@keyframes animatetop {
  	from {top: -300px; opacity: 0}
  	to {top: 10% ; opacity: 1}
}