body,html{
	height: 100%;	
	width: 100%;
	border: none;
	background: url("http://hdqwalls.com/wallpapers/iceberg-minimalist-4k-qp.jpg");
	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
}
#main-container{
	width: 100%;
	height: 100%;	
}
#rooms-container{
	background: #242633;
	height: 100%;
	width: 10%;
	min-width: 10%;
	position: absolute;
}
.room-button {
	width: 100%;
	height: 50px;
	color: #c7dbdc;
	border: none;
	outline: none;
	background-color: #242633;
}
.room-button:hover {
	transition: 1s;
	background-color: #1b1c26;
}
#create-room {
	background: transparent;
	height: 45px;
	border-radius: 100%;
	top: calc(100% - 23px);
	left: 10px;
	transform: translate(-30%, -50%);
	box-shadow: none!important;
}

#create-room-footer {
	width: 100%;
	height: 25%;
	bottom: 0px;
 	position: absolute;
}

#add-room-members {
	margin-left: 41%;
	position: absolute;
	top: 3%;
}

#create-room-submit {
	margin-left: 44%;
	position: relative;
	top: 50%;
}

.field-error {
	display: none;
	color: red;
	bottom: 35%;
	text-align:center;
	left: 38%;
	position: absolute;
}

#added-chat-members {
	width: 100%;
}

#members {
	color: #242633;
	text-align: center;
}

.modal {
	background-color: #fefefe;
	display: none;
	top: 10%;
	width: 60%;
	height: 65%;
	min-height: 400px;
	animation-name: animatetop;
	animation-duration: 0.2s;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #242633;
}
#message-input-container {
	background-color: #fce0d4;
	bottom: 0px;
	width: 87%;
	height: 7%;
	min-width: 100px;
	color: #242633;
	border: none;
	outline: none;
	position: absolute;
	box-sizing: border-box;
	margin-right: 0px;
	margin-left: 10%;
}
#chat-message-input:focus {
	box-shadow: none;
  	border-bottom: none;
}
#chat-message-input {
	background: transparent;
	width: 80%;
	top: 10%;
	height: 80%;
	min-width: 100px;
	color: #242633;
	border: none;
	outline: none;
	position: absolute;
	box-sizing: border-box;
	margin-left: 2%;
}
#chat-message-submit {
	background: #242633;
	width: 8%;
	height: 7%;
	color: #c7dbdc;
	border: none;
	position: absolute;
	margin-left: 0%;
	right: 0%;
	bottom: 0%;
}
#chat-message-submit:hover {
	transition: 1s;
	background: #0e0f14;
}
.room-name-field {
	outline: none;
	border: 1px solid #242633;
}
.user-email-field {
	outline: none;
	border: 1px solid #242633;	
}
.input-field input:focus + label {
	color: #242633 !important;
}
.row .input-field input:focus {
	color: #242633 !important;
	border-bottom: 1px solid #242633 !important;
	box-shadow: 0 1px 0 0 #242633 !important
}
#messageArea {
	background: transparent;
	bottom: 10px;
	width: 80%;
	height: 40px;
	max-width: 80%;
	min-width: 100px;
	color: #242633;
	border: none;
	outline: none;
	border-bottom: 2px solid #242633 !important;
	position: absolute;
	box-sizing: border-box;
	margin-right: 10%;
	margin-left: 12%;
}
.message {
	background: #242633;
	padding: 10px;
	color: #c7dbdc;
	border-radius: 5px;
	position: absolute;
	text-align: center;
}
#create-room-title {
	color: black;
	top: 0px;
	left: 45%;
	font-weight: bold;
	position: absolute;
}
#close {
	background: none;
  	color: #242633;
  	font-size: 28px;
  	box-shadow: none;
  	font-weight: bold;
}
#close:hover,
#close:focus {
  	text-decoration: none;
  	cursor: pointer;
}
@keyframes animatetop {
  	from {top: -300px; opacity: 0}
  	to {top: 10% ; opacity: 1}
}